


h1 {
    text-align: center;
}


.container {
    max-width: 960px;
    margin: auto;
    width: 100%;
    min-width: 500px;
}



.colors {
    border-style: solid;
    border-width: 10px;
    border-color: black;
    border-radius: 20px;
    width: 50%;
    max-width: 960px;
    min-width: 960px;
    height: 250px;
    background-color: gainsboro;
    margin-bottom: 50px;
}


.fonts {
    border-style: solid;
    border-width: 10px;
    border-color: black;
    border-radius: 20px;
    max-width: 960px;
    min-width: 960px;
    height: 250px;
    background-color: gainsboro;
    margin-bottom: 50px;
}





.text-styles {
    border-style: solid;
    border-width: 10px;
    border-color: black;
    border-radius: 20px;
    max-width: 960px;
    min-width: 960px;
    height: 250px;
    background-color: gainsboro;
}

    


#blue {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    background-color: rgb(255, 242, 129);
    min-width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 10%;
    padding: 10px;
}

#red {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    background-color:rgb(155, 13, 8);
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 10%;
    padding: 10px;
}

p {
    width: 100%;
}

#brown {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    background-color:rgb(151, 112, 60);
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 10%;
    padding: 10px;
}

#green {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    background-color:rgb(105, 168, 96);
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 10%;
    padding: 10px;
}

.color {
    float: left;
    padding: 50px;
}