body {
    font-family: 'Space Mono', monospace;
    font-family: 'Work Sans', sans-serif;
}


h1 {
    font-weight: 700;
    font-family: "Playfair Display";
}

h3 {
    fontweight: 700;
    font-family: "Playfair Display";
}

h1, h3 {
    text-align: center;
}

.container {
    background-color: gainsboro;
    border-style: solid;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
}

.color-panel {
    width: 400px;
    display: inline-block;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

.tan {
    background-color: rgba(248, 228, 140, 0.87);
}

.red {
    background-color:rgba(134, 16, 0, 0.781);
    color: white;
}

.brown {
    background-color:rgba(177, 115, 44, 0.562);
}

.green {
    background-color:rgba(28, 175, 72, 0.562);
}



.fonts-container {
    margin-bottom: 50px;
}


.playfair {
    font-family: "Playfair Display";
}

.open-sans-condensed {
    font-family: "Open Sans Condensed";
}