h1, h2 {
    text-align: center;
}

.container {
    background-color: gainsboro;
    border-style: solid;
    border-radius: 5px;
    margin: 10px;
    text-align: center;
}

.color-panel {
    width: 200px;
    display: inline-block;
    text-align: center;
    margin-bottom: 20px;
}

.tan {
    background-color: rgba(248, 228, 140, 0.87);
}

.red {
    background-color:rgba(134, 16, 0, 0.781);
    color: white;
}

.brown {
    background-color:rgba(177, 115, 44, 0.562);
}

.green {
    background-color:rgba(28, 175, 72, 0.562);
}